[workspace]
members = [
  "pages",
  "tools/bencher",
  "tools/formatter",
  "tools/parser",
  "tools/schema",
]

[workspace.package]
version = "0.1.0"
authors = ["David Koloski <djkoloski@gmail.com>"]
edition = "2021"
license = "MIT"
publish = false

[workspace.dependencies]
cargo_metadata = "0.15"
clap = "4"
enum-iterator = "0.8"
fixed-map = { version = "0.9", default-features = false }
regex = "1.9"
schema = { path = "tools/schema" }
serde = "1.0"
serde_json = "1.0"
stylist = { version = "0.12", default-features = false }
tempfile = "3.6"
time = "0.3"
wasm-bindgen = "0.2"
web-sys = { version = "0.3.60" }
yew = { version = "0.20", default-features = false }

[package]
name = "rust_serialization_benchmark"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
# Some features may require multiple dependencies to compile properly
# For example, benchmarking bincode requires two features: "serde" and "bincode"
[dependencies]
abomonation = { version = "0.7.3", optional = true }
abomonation_derive = { version = "0.5.0", optional = true }
alkahest = { version = "0.1.5", optional = true, features = [
  "derive",
  "nightly",
] }
bebop = { version = "2.4.9", optional = true }
bincode = { version = "1.3.3", optional = true }
bitcode = { version = "0.4.0", optional = true }
borsh = { version = "0.10.3", optional = true }
# TODO: Unfork after bson adds support for pre-warmed serialization buffers
# https://github.com/mongodb/bson-rust/pull/328
bson = { version = "2.6.0", git = "https://github.com/djkoloski/bson-rust", branch = "master", optional = true }
bytecheck = { version = "0.6.10", optional = true }
bytemuck = { version = "1.13.1", optional = true }
capnp = { version = "0.16.1", optional = true }
ciborium = { version = "0.2.0", optional = true }
criterion = "0.5"
dlhn = { version = "0.1.4", optional = true }
flatbuffers = { version = "23.1.21", optional = true }
libflate = "1.3.0"
msgpacker = { version = "0.4", optional = true }
nachricht-serde = { version = "0.4.0", optional = true }
parity-scale-codec = { version = "3.5.0", features = ["full"], optional = true }
parity-scale-codec-derive = { version = "3.1.4", optional = true }
postcard = { version = "1.0.4", features = ["alloc"], optional = true }
prost = { version = "0.11.9", optional = true }
rand = "0.8.5"
rkyv = { version = "0.7.41", features = ["validation"], optional = true }
rmp-serde = { version = "1.1.1", optional = true }
ron = { version = "0.8.0", optional = true }
serde = { version = "1.0.153", features = ["derive"], optional = true }
serde_bare = { version = "0.5.0", optional = true }
serde_cbor = { version = "0.11.2", optional = true }
serde_json = { version = "1.0.96", optional = true }
simd-json = { version = "0.9.2", optional = true }
simd-json-derive = { version = "0.9.2", optional = true }
speedy = { version = "0.8.6", optional = true }
savefile = { version = "0.14", optional = true }
savefile-derive = { version = "0.14", optional = true }
zstd = "0.12.3"

[features]
default = [
  "abomonation",
  "abomonation_derive",
  "alkahest",
  # "bebop",
  "bincode",
  "bitcode",
  "borsh",
  "bson",
  "bytecheck",
  "bytemuck",
  "capnp",
  "ciborium",
  "dlhn",
  "flatbuffers",
  "msgpacker",
  "nachricht-serde",
  "scale",
  "postcard",
  "prost",
  "prost-build",
  "rkyv",
  "rmp-serde",
  "ron",
  "serde",
  "serde_bare",
  "serde_cbor",
  "serde_json",
  "simd-json",
  "speedy",
  "savefile"
]
simd-json = ["dep:simd-json", "simd-json-derive"]

savefile = ["dep:savefile", "savefile-derive"]

scale = ["parity-scale-codec", "parity-scale-codec-derive"]

[dev-dependencies]
rand_pcg = "0.3.1"

[build-dependencies]
bebop-tools = "2.4.5"
capnp = "0.16.0"
capnpc = "0.16.3"
flatc-rust = "0.2.0"
prost-build = { version = "0.11.8", optional = true }

[[bench]]
harness = false
name = "bench"

[profile.bench]
lto = true
# Uncomment this to profile
# debug = true

[profile.release.package.pages]
codegen-units = 1
opt-level = "z"
strip = "debuginfo"
