name: bench

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'Cargo.toml'
      - 'benches/**'
      - 'src/**'

env:
  CI: true

jobs:
  build:
    name: bench
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          submodules: true
      
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: rust-src

      - uses: Swatinem/rust-cache@v2

      - name: bench
        shell: bash
        run: |

          wget "https://github.com/protocolbuffers/protobuf/releases/download/v23.3/protoc-23.3-linux-x86_64.zip" -O protoc.zip
          unzip protoc.zip
          chmod +x bin/protoc
          mv bin/protoc /usr/local/bin

          wget "https://github.com/google/flatbuffers/releases/download/v23.5.26/Linux.flatc.binary.clang++-12.zip" -O flatbuffers
          unzip flatbuffers
          chmod +x flatc
          mv flatc /usr/local/bin

          sudo apt-get install -y capnproto libprotobuf-dev

          git config --global user.name github-actions
          git config --global user.email github-actions@github.com

          cargo run -p bencher

          git add -A benchmark_results
          git add README.md
          git commit -m "[gh-actions] Update benchmarks"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
